= simple_form_for(@setting) do |f|
  = f.error_notification

  .form-inputs
    = f.input :logo
    = f.input :phone
    = f.input :preloader
  .form-actions
    = f.button :submit, 'Сохранить настройки'
