!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "#{@meta.keywords}", :name => "keywords"}/
    %meta{:content => "#{@meta.description}", :name => "description"}/
    %title VINKEEPER
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "https://api-maps.yandex.ru/2.1/?lang=ru_RU"
    = csrf_meta_tags
  %body
    = yield

    %br
    #footer
      &copy; 2016 VINKEEPER
